<ion-content [fullscreen]="true" id="contenido">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button [routerLink] = "['/fase2']">fase2</ion-button>
  </div>
</ion-content>
<ion-footer>
  Esto es un fracaso
</ion-footer>